<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">User Details <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dependents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Phone Number</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Payment Details</a>
          </li>
        </ul>
  
      </div>
    </nav>
  </div>
  <br />
  <div class="form">
  <p>CHANGE PHONE NUMBER</p>
  <div class="row">
      <input type="text" class="form-control" placeholder="CURRENT PHONE NUMBER ">
    </div>
  <div class="row">
    <input type="text" class="form-control" placeholder="NEW PHONE NUMBER ">
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <button class="form-control" type="submit">SAVE</button>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
  
    </div>
  
  </div>
</div>