<div class="row">
  <div class="col-md-3">


  </div>
  <div class="form">
    <h2>Packages</h2>
    <p>
      We have partnered with a lot of service providers to give you the convinience you need to get your insuarance
      needs met.
    </p>
    <p>
      We have Car insuarance, Health and Funeral insuarance partners.
    </p>
    <p>
      Get quotes, compare and get the package that meets your needs,
    </p>
    <br />
    <button type="submit" class="form-control">LEARN MORE</button>
  </div>
  <div class="form">
    <h2>Account</h2>
    <p>
    Keep in track with all your insuarance packages. Add new packages. Pay all your packages
    </p>
    <h3>ALL IN ONE PLACE</h3>
    <br />
    <button type="submit" class="form-control">LEARN MORE</button>
    <img src="">
  </div>
  <div class="form">
    <h2>About</h2>
    <p>
      Learn more about the team behind this system. What we are bringing to you and how we have partnered with the
      biggest service providers to bring insuarance services to your finger tips
    </p>
    <br />
    <button type="submit" class="form-control">LEARN MORE</button>

  </div>
  <div class="row">
    <div class="offset-md-3 col-md-3">
        <p class="nav-link" [routerLink]="['/company-dashboard']">Company Dashboard</p>
    </div>

  </div>
</div>