<nav class="nav" style="background-image: url('../../../assets/images/LANDING PAGE BG.png'); height: 7em; font-size: 20px; ">
  <ul>
    <li> <a href="#"><span class="left"></span></a></li>
    <li><a class="nav-link" [routerLink]="['/About Us']" routerLinkActive="active">Home</a></li>
    <li><a class="nav-link" [routerLink]="['/calendar']" routerLinkActive="active">Account</a></li>
    <li><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Packages</a></li>
    <li> <input type="text" placeholder="What are you looking for ?" class="form-control" name="password" required
        minlength="8"></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>







</footer>