<div class="row">
  <div class="col-md-3">
    <p>TOTUM</p>
    <p>INSUARANCE</p>
  </div>
  <div class="offset-md-6 col-md-3">
    <i><input placeholder="What are you looking for ?"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Get quotes, Select services, Pay Generate Claims</h2>
  </div>
  <div class="col-md-6">
    <h2>Don't have an account ?</h2>
    <p> Sign up to enjoy the benefits of our system </p>
    <button class="form-control">SIGN UP</button>
    <div class="form">
      <form class="login-form">

        <input type="text" placeholder="username" />

        <input type="password" placeholder="password" class="form-control" name="password" required minlength="8">
        <button>login</button>
        <p class="message">
          <a class="nav-link" [routerLink]="['/registration']" routerLinkActive="active">forgot password ?</a>
        </p>
      </form>
    </div>



  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>
      TOTUM Insuarance is an insuarance aggregation service that brings all your insuarance needs to your finger tips.
      Any type of insuarance all in one place
    </p>
    <button>
      FIND YOUR CUSTOM INSUARANCE
    </button>
  </div>
  <div class="col-md-6">
    <button class="form-control"><i class="fa-fa-arrow"></i> Discover Here</button>
  </div>
</div>