<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"> Insuarance Type</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Pakcage Type</a>
          </li>
        </ul>
  
      </div>
    </nav>
  </div>
  <div class="form">

  </div>